body {
  margin: auto 15px;
  background-color: rgb(247, 244, 201);
}

h1 {
  text-align: center;
  margin: 20px;
}

p {
  text-align: center;
  margin: auto 25px;
}

img {
  border-radius: 15px;
  display: block;
  text-align: center;
  margin: auto;
}

a {
  padding: 15px;
  color: green;
}
